.main-heading {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 10px;
}

.image {
    width: 20%;
}

.container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.containers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quantity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 300px;
}

.bottomline {
    width: 80%;
    margin-left: 8%;
    margin-top: 20px;
    height: 3px;
    background-color: red;
}

.amount-total {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-left: 8%;
}

.total {
    font-size: 2rem;
}

.amount {
    font-size: 2rem;
}

.clear-all {
    display: flex;
    justify-content: center;
}

.remove-all {
    padding: 20px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 10%;
        gap: 20px;
        align-items: center;
    }
}